body {
    background-color: black !important;
    background-image: url('../src/images/background.jpg');
    background-size: 100vw 100vh;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(119, 136, 153, 0.616);
}